.active{
    color: blue;
    font-size: 20px;
}
.CS-R{
    color: red;
    font-size: 35px;
}
#items10{
    font-size: 30px;
    color: black;
}
li:nth-child(odd){
    color: aqua;
}
li:nth-child(even){
color: brown;
}